<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
        </div>
        <div class="col-md-3 col-md-offset-1">
          <div class="social-links">
            <a href="https://www.projectworlds.in" target="_blank"><i class="fa fa-globe"></i></a>
            <a target="_blank" href="https://www.facebook.com/projectworlds"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/projectworlds/?hl=en"><i class="fa fa-instagram"></i></a>
            <a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <p class="colophon">Copyright 2024, All rights reserved Weatherworlds</p>
    </div>
  </footer> <!-- .site-footer -->
</div>
