{% include "header.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<form method="post">
  {% csrf_token%}
  <input type="text" name="city" placeholder="Enter your city name..." required>
  <input type="submit" value="Search">
</form>


<div class="weather">
  <div class ="left">
    
    <h1>Weather in {{ city }}</h1>
    <h2>Temperature: {{ temp }}</h2>
  </div>

  <div class="right">
    <div class="icon">
      <p> <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Weather icon"></p>
    </div>

    <div class="condition">
      <p>Country: {{ country_code }}</p>
      <p>Pressure: {{ pressure }} hPa</p>
      <p>Humidity: {{ humidity }}%</p>
      <p>Wind Speed: {{ wind_speed }} m/s</p>
      <p>Main: {{ main }}</p>
      <p>Description: {{ description }}</p>
    </div>
  
  
  </div>
</div>


    

    

{% endblock %}

{% include "footer.html"%}





